#!/bin/sh

sleep 3

mkdir -p /tmp
filedate=$(date +%Y%m%dT%H%M%S)
logname="/tmp/healthcheck_${filedate}.txt"
echo "Waiting for PostgreSQL at %%DB_HOST%%:%%DB_PORT%% as %%DB_USER%%" > "$logname"

for i in $(seq 1 10); do
  if pg_isready -h "%%DB_HOST%%" -p "%%DB_PORT%%" -U "%%DB_USER%%" >> "$logname" 2>&1; then
    echo "PostgreSQL is ready!" >> "$logname"
    break
  fi
  echo "Attempt $i failed..." >> "$logname"
  sleep 2
done

cat "$logname"

exec "$@"